<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.baimo.pw.mapper.PageMyMapper">


    <select id="getUserSimpleInfo" resultType="com.jt.baimo.pw.vo.UserSimpleInfoVo">
            select
            if(rn.status=3,"昵称违规",u.nickname) nickname
            ,if(rh.status=3,null,u.headerUrl) headerUrl
            ,if(rv.status =3,null,u.voiceUrl) voiceUrl
            ,if(rp.status=3,null,u.presentation) presentation
            ,u.*
            ,p.name professionName
            from user  u
            left join review rh on u.id = rh.uid and rh.type =1
            left join review rv on u.id = rv.uid and rv.type =2
            left join review rn on u.id = rn.uid and rn.type =4
            left join review rp on u.id = rp.uid and rp.type =5
            left join profession p on p.id = u.professionId
            where u.id = #{userId}
    </select>
    <select id="getCommonInfo" resultType="com.jt.baimo.pw.vo.MyCommonInfoVo">

            select
            if(rn.status=3,"昵称违规",u.nickname) nickname
            ,if(rh.status=3,null,u.headerUrl) headerUrl
            ,u.*
            from user u
            left join review rh on u.id = rh.uid and rh.type =1
            left join review rn on u.id = rn.uid and rn.type =4
            where u.id = #{userId}

    </select>
</mapper>
